# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# TensorFlow intermediate export
models/saved_model/

# macOS
.DS_Store

# VSCode workspace cache
.vscode/*.log

# Environment variables
.env

# Build / cache
build/
dist/
*.egg-info/
