# Core ML
tensorflow==2.20.0
keras==3.13.2
numpy==2.4.2

# Data / Image processing
pillow==12.1.1
opencv-python==4.13.0.92
scikit-learn

# Visualization
matplotlib==3.10.8

# Utilities
requests==2.32.5
tqdm
